<aside class="sidebar">

    <div class="menu-title">

        MENU

    </div>

    <ul>

        <li>📊 Dashboard</li>

        <li>💹 Operações</li>

        <li>🧠 Estratégias</li>

        <li>💰 Financeiro</li>

        <li>📄 Logs</li>

        <li>⚙ Configurações</li>

    </ul>

</aside>