<div class="sidebar">

    <div class="logo">
        FXBOT
    </div>

    <ul>

        <li class="active">🏠 Dashboard</li>

        <li>📈 Estratégias</li>

        <li>💹 Operações</li>

        <li>🤖 Inteligência Artificial</li>

        <li>📊 Histórico</li>

        <li>⚙ Configurações</li>

    </ul>

</div>